<html>
<head>
</head>
<body>
<h3> So you're here. What next? </h3>
<h4> Try the insert end point</h4>
<p> /insert </p>
<p> METHOD: POST </p>
<p> Input: Any object which follows the JSON/ Dict format </p>
<p> Returns {"code": 1, "message": "INSERTED"} on success</p>
<h4> Or try the search end point</h4>
<p> /search?q=query </p>
<p> METHOD: GET </p>
<p> q: url encoded query of search terms </p>
<p> use on:term to search in particular field. E.g to search on meta fields on:meta </p>
<p> use not:term to eliminate it from the search</p>
</body>
</html>